# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environments
venv/
.venv/
env/

# =========================
# Environment variables
# =========================
.env

# =========================
# Streamlit
# =========================
.streamlit/

# =========================
# Temporary / runtime files
# =========================
temp_doc
*.log

# =========================
# OS-specific
# =========================
.DS_Store

# =========================
# IDEs / Editors
# =========================
.vscode/
.idea/

# =========================
# Jupyter
# =========================
.ipynb_checkpoints/
